body{
    background: #c7d0a5;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1{
    margin-bottom: 6px;
}

#hud{
    margin-bottom: 6px;
    font-size: 18px;
}

canvas{
    background: #9fb36a;
    border: 6px solid #3b4a2f;
    image-rendering: pixelated;
}

.hint{
    margin-top: 6px;
    font-size: 14px;
}